@charset "UTF-8";
/* CSS Document */

/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		 url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body, body * {
	font-family: 'Montserrat', sans-serif;
}

header {
	/*display: block;*/
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	/*justify-content: baseline;*/
	margin: 30px 50px 30px 50px;
}

.site-logo {
	flex: 0 0 auto;
	font-size: 26px;
	margin-right: 60px;
}

.main-menu {
	flex: 1 0 auto;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	padding-left: 0px;
	font-size: 18px;
	/*background-color: aqua;*/
}

.menu-item {
	/*display: block;*/
	margin-right: 35px;
	/*border-style: solid;*/
	/*text-align: center;*/
}

.content {
	margin: 0px 50px 0px 50px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: left;
}

.content p i {
	font-size: 13px;
}

.page-title {
	margin: 100px 50px 80px 50px;
}

.page-title h1 {
	margin-bottom: 10px;
}

.page-title p {
	margin-bottom: 40px;
}

.page-title img {
	width: 100vw;
	position: relative;
  	left: 50%;
  	right: 50%;
  	margin-left: -50vw;
  	margin-right: -50vw;
}

.conclusion img {
	width: 100vw;
	position: relative;
  	left: 50%;
  	right: 50%;
  	margin-left: -50vw;
  	margin-right: -50vw;
}

.project-content {
	margin: 0px 50px 0px 50px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
}

.resume-content {
	/* margin: 0px 100px 0px 100px; */
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: left;
}

.education.professional-experience.research-methods.prototyping.languages {
	max-width: 800px;
}

body{
	color: #1a1b1f;
	max-width: 1600px;
	margin: auto;
}

p {
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
	margin-bottom: 30px;
}

p:last-child {
	margin-bottom: 0px;
}

h1 {
	font-size: 42px;
	font-weight: 400;
}

h2 {
	font-size: 36px;
	line-height: 1.6;
	font-weight: 400;
	margin-top: 70px;
}

#first-h2 {
	margin-top: 0;
}


.page-title h2 {
	color:#808080;
	font-size: 30px;
	line-height: 1.6;
	margin-bottom: 50px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 1.6;
	font-weight: 400;
}

h4 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 36px;
	line-height: 1.6;
	font-weight: 600;
}

h5 {
	font-size: 44px;
	font-weight: 400;
	color: #43464d;
	line-height: 1.6;
}

h6 {
	font-size: 20px;
	margin-bottom: 30px;
	line-height: 1.6;
}

a:link{
	color: #000000;
	text-decoration: none;
	font-weight: 600;
}

a:visited{
	color: #663399;
}

a:hover, a:focus, a:active{
	color: #ff8c00;
	font-weight: 600;
	transition-duration: 0.2s;
}

li a:hover, a:focus, a:active{
	font-weight: 600;
}

a:active{
	color: #ff8c00;
}

i {
	font-size: 17px;
}

button {
	margin-bottom: 15px;
	border-radius: 5px;
}

.button {
	border: none;
  	padding: 15px 23px;
  	text-align: center;
 	display: inline-block;
  	font-size: 16px;
	cursor: pointer;
	transition-duration: 0.4s;
	font-family: Montserrat, sans-serif;
}

.button1 {
	background-color: #E5E5E5; 
	color: black; 
	border: 2px solid #E5E5E5;
  }
  
.button1:hover {
	background-color: #ff8c00;
	color: white;
	border-color: #ff8c00;
	font-style: bold;
}

img{
	display: block;
	width: 100%;
}

.paragraph-large {
	font-size: 20px;
}

.paragraph-small {
	margin: 0px;
}

.section-intro {
	margin: 100px 0px 100px 0px;
}

.hp-intro {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center; 
	margin: 40px 0px 40px 0px;
	width: 100%;

	/* border-style: solid; */
}

.hp-intro img {
	max-width: 100%;
	min-width: 200px;
	width: auto;
  	height: auto;
	border-radius: 10px;
	float: left;
}

.hp-profile-text {
	flex: 2;
	line-height: 1.5;
	margin-right: 50px;

	/* border-style: solid; */
}

.hp-profile-img {
	flex: 1;

	/* border-style: solid; */
}

.project-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin-left: -20px;
	margin-right: -20px;
}

.category {
	font-size: 12px;
	margin-bottom: 20px;
}

.card-title {
	font-size: 20px;
	font-weight: 600;
}

.contact-title {
	font-size: 20px;
}

.card {
	flex: 1 1 40%;
	margin: auto;
	margin: 0px 20px 40px 20px;
}

.thumbnail {
	margin: 0px 0px 20px 0px;
	border-radius: 10px;
}

.gif-div {
	position: relative;
}

/* .static {
	position: absolute;
} */

/* .static:hover {
	opacity: 0;
} */

.card a:hover ~ a {
	color: #ff8c00;
	font-weight: 600;
	transition-duration: 0.2s;
}

.contact {
	/* margin: 50px 50px 0px 50px; */
	background-color: #f4f4f4;
	border-radius: 10px;
	width: 100%;
}

.contact-content {
	padding: 50px 60px 70px 60px;
}

.contact-content h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.a-styled {
	text-decoration: underline;
	font-weight: 600;
}

.footer {
  	padding: 40px 50px 0px 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 18px;
}

.footer-items {
 	text-align: center;
	opacity: 0.8;
	font-size: 14px;
	line-height: 1.6;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 40px; 
}

.footer-items a {
  margin: 0px 20px 0px 20px;
}

.section-title {
	margin-bottom: 30px;
}


.projects {
	margin: 0px;
}

.allprojects a{
	text-decoration: underline;
}

.more {
	margin: 100px 50px 50px 50px;
	/*background-color: aqua;*/
}

.context-problem {
	max-width: 800px;
}

.findings-2 {
	margin-bottom: -30px;
}

/* .project-details {
	display: flex;
	flex-wrap: wrap;
} */

.project-details li {
	margin: 0 0 15px 0;
	/* font-size: 16px; */
	line-height: 1.6;
	font-weight: 400;
}

.project-details li:last-child {
	margin-bottom: 0px;
}

.project-details ul,
.project-details ol {
	margin-bottom: 0px;
}

.project-details ul, ol, p {
	max-width: 700px;
}

.personas {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 40px -15px 0px -15px;
}

.persona-card {
	flex: 1 1 10%;
	margin: 0 15px 0 15px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;
}

.grid-card {
	display: flex;
	flex-direction: column;
	border-style: solid; 
  
	width: 23%;
  	box-sizing: border-box;
  	margin-bottom: 30px;
}

.findings {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;
	/* margin: 20px -15px 0 -15px; */
}

.finding-card {
	display: flex;
 	flex-direction: column;
  
	width: 49%;
  	box-sizing: border-box;
  	margin-bottom: 30px;
}

.findings img {
	object-fit: scale-down;
}

.card-text{
	box-sizing: border-box;
}

.card-text p{
	margin-top: 0px;
}

.findings-1 img {
	margin-top: 30px;
	margin-bottom: 50px;
}

.recommendations{
	margin-bottom: 80px;
}

.recommendations img {
	border: none;
	margin-top: 30px;
	margin-bottom: 80px;
}

.recommendations .diagram {
	border: none;
	margin-bottom: 0px;
}

.metrics {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	margin: 20px -25px 40px -25px;
}

q {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.stat {
	margin: 0 25px 0 25px;
}

.local-nav {
	position: -webkit-sticky; /* Safari */
  	position: sticky;
	top: 50px;
	align-self: flex-start;
	font-size: 13px;
	margin-top: 15px;
	/* background-color: rgb(215, 248, 250); */
}

.local-nav-items {
	padding: 0px;
	margin: 0px 100px -20px 15px;
	width: 150px;
}

.local-nav-items li {
	margin-bottom: 20px;
}

.local-nav-items li a {
	display: block;	
}

.conclusion {
	margin-top: 150px;
}

.contact-title {
	font-size: 20px;
}

.two-column {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.column-one{
	flex: 3 1 60%;
}

.column-two{
	flex: 2 1 30%;
}

.column-two img{
	margin-top: 30px;
	margin-right: 50px;
	min-width: 300px;
	max-width: 300px;
}


.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.9);
}

.lightbox-content {
	margin: auto;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 80%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	box-sizing: border-box;
}

.lightbox-content img {
	border-style: solid;
	border-color: #cecece;
	border-width: 1px;

	/* padding: 20px; */
	background-color: #f0eeef;
	border-radius: 10px;
	
	min-height: 0;
	/* max-width: 100%; */
	object-fit: scale-down;

	box-sizing:border-box;
}

/* .lightbox-content p {
	margin: 0px;
	padding-top: 30px;
	
	box-sizing:border-box;
} */

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}


@media only screen and (max-width : 600px){
	/* styles for screens up to 600px; (mobile) */
	
	/* project detail -------------------------------------------------*/
	.page-title {
		margin: 50px 15px 40px 15px;
	}

	.page-title h2 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 22px;
	}
	
	.intro-img {
		overflow: auto;
		margin-left: -75px;
		margin-right: -15px;
	}

	.intro-img img {
		width: 1000px;
	}

	.project-details {
		overflow: auto;
	}

	.content-img {
		overflow: auto;
	}

	.content-img.img-w-5 img {
		width: 500px;
	}

	.content-img.img-w-6 img {
		width: 600px;
	}

	.content-img.img-w-7 img {
		width: 700px;
	}

	.content-img.img-w-8 img {
		width: 800px;
	}

	.content-img.img-w-9 img {
		width: 900px;
	}

	.content-img.img-w-10 img {
		width: 1000px;
	}

	.mob-crop {
		overflow: hidden;
	}

	.mob-crop img {
		width: 123%;
		vertical-align: middle; /* remove the vertical gap under inline level elements */

  		position: relative;
  		left: 50%;
  		-webkit-transform: translateX(-50%);
  		-ms-transform: translateX(-50%);
  		-o-transform: translateX(-50%);
  		transform: translateX(-50%);
	}

	.local-nav {
		display: none;
	}

	.project-content {
		margin: 0px 15px 0px 15px;
	}

	.project-details p {
		margin-bottom: 20px;
	}

	.personas {
		flex-wrap: nowrap;
		margin: 40px -30px 20px -30px;
		overflow: auto;
	}

	.personas .persona-card:first-child {
		margin-left: 30px;
	}

	.personas .persona-card:last-child {
		margin-right: 30px;
	}

	.persona-card {
		flex: 1 0 50%;
		margin: 0 10px 0 10px;
	}

	.grid-card {
		flex: 1 0 40%;
		margin: 0 10px 15px 10px;
	}

	.finding-card {
		flex: 1 1 60%;
		margin: 0 0 15px 0;
	}

	.findings img {
		height: initial;
	}

	.card-text p{
		margin-top: 0px;
	}

	.metrics {
		margin-bottom: 15px;
	}

	.conclusion {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.more {
		margin: 40px 15px 0px 15px;
		/*background-color: aqua;*/
	}

	.lightbox-content {
		width: 95%;
		height: 95%;
	}

	.lightbox-content img {
		padding: 0px;
	}

	.lightbox-content p {
		padding-top: 30px;
		margin-bottom: 0px;
	}

	.findings-1 img {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.recommendations {
		margin-bottom: 0px;
	}
	
	.recommendations img {
		margin-top: 30px;
		margin-bottom: 0px;
	}

	.stat {
		margin: 0 15px 0 15px;
	}

	.stat:first-child {
		margin-left: 25px;
	}

	.results-learnings p {
		margin-top: 0;
	}

	video {
		width: 100%;
	}


	/* homepage -------------------------------------------------------*/
	header {
		margin: 15px 15px 0px 15px;
	}
	.site-logo {
		font-size: 18px;
		margin-right: 35px;
	}
	.main-menu {
		justify-content: start;
		list-style: none;
		padding-left: 0px;
		font-size: 14px;
		margin-top: 20px;
		margin-bottom: 10px;
		/*background-color: aqua;*/
	}
	.main-menu li:last-child {
		margin-right: 0px;
		
	}
	.hp-intro {
		flex-direction: column;
		align-items: flex-start; 
	}
	.hp-intro img {
		float: none;
		margin-top: 30px;
		max-width: 100%;
	}
	.hp-profile-img {
		margin-left: 0;
	}
	.content {
		margin-left: 15px;
		margin-right: 15px;
	}
	.section-intro {
		margin: 50px 0px 40px 0px;
	}
	.projects {
		margin-right: 0px;
		margin-left: 0px;
	}
	.section-title {
		margin-bottom: 20px;
	}
	.project-list{
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.card {
		flex: 1 1 100%;
		margin-bottom: 40px;
		margin-right: 0px;
		margin-left:0px;
	}
	.category {
		margin-bottom: 10px;
		font-size: 11px;
	}
	.contact {
		background-color: #f4f4f4;
	}
	.contact-content {
		padding: 30px 30px 30px 30px;
		text-align: center;
	}
	.contact-content h2 {
		margin-bottom: 20px;
	}
	#footer-email {
		font-size: 5.5vw;
	}
	.footer {
  		padding: 0px 15px 0px 15px;
	}
	.footer-items {
		font-size: 12px;
	}
	.button {
		font-size: 14px;
		padding: 10px 15px;
	}

	i {
		font-size: 14px;
	}

	p, q, li {
		font-size: 14px;
		line-height: 1.6;
	}
	
	ul, ol {
		padding: 0 0 0 30px;
	}

	h1 {
		font-size: 32px;
		line-height: 1.3;
		font-weight: 400;
	}

	h2 {
		font-size: 26px;
		margin-top: 40px;
		line-height: 1.6;
		font-weight: 400;
	}

	h3 {
		font-size: 22px;
		line-height: 1.6;
	}

	h4 {
		font-size: 26px;
	}

	h6 {
		font-size: 16px;
		margin-top: 40px;
		line-height: 1.6;
	}
}